@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать🖐</h1>
        <p>Данные уроки представляют собой текстовый материал на основе видеокурсов Дмитрия Петрова по изучению татарского языка, которые находятся в свободном доступе.</p>
    </div>
