@page
@model IndexModel
@{
    ViewData["Title"] = "Старт";
}
    <head>
        <link rel="shortcut icon" href="~/images/icon.png" type="image/x-icon">
        <title>Изучи татарский язык всего за 8 часов</title>
        <meta name="keywords" content="татарский, татарский язык, татарский с полиглотом, татарский за 8 часов, полиглот">
        <meta name="description" content="Данная методика, разработанная известным полиглотом, поможет в изучении татарского языка за 8 часов (в сумме 24 урока). Заходи, изучай, общайся">
        <meta name="author" content="Әлифба">
        <meta name="copyright" content="Все права принадлежат автору">        
        <script type="text/javascript">
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
                m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
                (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(55640836, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true
            });
        </script>
    </head>

    <div class="text-center">
        <h1 class="display-4">Татарский с Полиглотом</h1>
        <p>Изучи татарский язык всего за 8 часов</p>
        <p>Начни и сам убедись в этом</p>
        <a href="/lesson_1" class="btn btn-success" role="button">Начать</a>
    </div>
