@page
@model learn_tatar.Pages.lesson_4Model
@{
    ViewData["Title"] = "Урок 4";
}
    <head>
        <link rel="shortcut icon" href="~/images/icon.png" type="image/x-icon">
        <style>
            span {
                background-color: yellowgreen;
            }
        </style>
        <script type="text/javascript">
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(55640836, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
           });
        </script>
    </head>
    <h1>Урок 4👳‍♂️</h1>
    <p>САКАЛ АГАРМЫЙ, АКЫЛ КЕРМИ - БОРОДА НЕ ПОСЕДЕЕТ, УМ НЕ ПРИДЁТ</p>
    <ul>
        <li>САКАЛ - БОРОДА</li>
        <li>АГАР! - СЕДЕЙ</li>
        <li>АГАР<span>МЫЙ</span> - НЕ СЕДЕЕТ</li>
        <li>АКЫЛ - УМ</li>
        <li>КЕР! - ЗАХОДИ</li>
        <li>КЕР<span>МИ</span> - НЕ ЗАХОДИТ</li>
    </ul>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Ю!(МОЙ/СТИРАЙ)</th>
                    <th scope="col">ВОПРОС</th>
                    <th scope="col">ОТРИЦАНИЕ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">МИН</th>
                    <td>Ю<span>АМ</span></td>
                    <td>ЮАМ<span>МЫ?</span></td>
                    <td>Ю<span>МЫЙМ</span></td>
                </tr>
                <tr>
                    <th scope="row">СИН</th>
                    <td>Ю<span>АСЫҢ</span></td>
                    <td>ЮАСЫҢ<span>МЫ?</span></td>
                    <td>Ю<span>МЫЙСЫҢ</span></td>
                </tr>
                <tr>
                    <th scope="row">УЛ</th>
                    <td>Ю<span>А</span></td>
                    <td>ЮА<span>МЫ?</span></td>
                    <td>Ю<span>МЫЙ</span></td>
                </tr>
                <tr>
                    <th scope="row">БЕЗ</th>
                    <td>Ю<span>АБЫЗ</span></td>
                    <td>ЮАБЫЗ<span>МЫ?</span></td>
                    <td>Ю<span>МЫЙБЫЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">СЕЗ</th>
                    <td>Ю<span>АСЫЗ</span></td>
                    <td>ЮАСЫЗ<span>МЫ?</span></td>
                    <td>Ю<span>МЫЙСЫЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">АЛАР</th>
                    <td>Ю<span>АЛАР</span></td>
                    <td>ЮАЛАР<span>МЫ?</span></td>
                    <td>Ю<span>МЫЙЛАР</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>КУЛ КУЛНЫ ЮА - РУКА РУКУ МОЕТ</p>
    <ul>
        <li>КУЛ - РУКА</li>
        <li>КУЛ<span>НЫ</span> - РУКУ</li>
    </ul>
    <p>ХАТА КЕШЕНЕ ӨЙРӘТӘ - ОШИБКА УЧИТ ЧЕЛОВЕКА</p>
    <ul>
        <li>ХАТА - ОШИБКА</li>
        <li>КЕШЕ - ЧЕЛОВЕК</li>
        <li>КЕШЕ<span>НЕ</span> - ЧЕЛОВЕКА</li>
        <li>ӨЙРӘТ! - УЧИ</li>
        <li>ӨЙРӘТ<span>Ә</span> - УЧИТ</li>
    </ul>
    <div class="text-center">
        <a href="/lesson_3" class="btn btn-warning" role="button">&lt Урок 3</a>
        <a href="/lesson_5" class="btn btn-success" role="button">Урок 5 &gt</a>
    </div>

