@page
@model learn_tatar.Pages.lesson_6Model
@{
    ViewData["Title"] = "Урок 6";
}
    <head>
        <link rel="shortcut icon" href="~/images/icon.png" type="image/x-icon">
        <style type="text/css">
            span {
                background-color: yellowgreen;
            }
        </style>
        <script type="text/javascript">
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(55640836, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
           });
        </script>
    </head>
    <h1>Урок 6🤔</h1>
    <p>
        В вопросительных предложениях вопросительная частица МЫ/МЕ не присоединяется к глаголу:
    </p>
    <ul>
        <li>СИН ЯЗАСЫҢ<span>МЫ</span>? - ТЫ ПИШЕШЬ?</li>
        <li>СИН <span>КЕМНЕ</span> ЯЗАСЫҢ? - ТЫ КОГО ПИШЕШЬ?</li>
        <li>СИН <span>КАЙДА</span> ЯЗАСЫҢ? - ТЫ КУДА ПИШЕШЬ?</li>
    </ul>
    <p>Образование существительных из прилагательных:</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ГЛАСНЫЕ</th>
                    <th scope="col">СУЩЕСТВИТЕЛЬНОЕ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">БЕРДӘМ(ЕДИНЫЙ)</th>
                    <td>МЯГКИЕ</td>
                    <td>БЕРДӘМ<span>ЛЕК</span>(ЕДИНСТВО)</td>
                </tr>
                <tr>
                    <th scope="row">ЮМАРТ(ЩЕДРЫЙ)</th>
                    <td>ТВЁРДЫЕ</td>
                    <td>ЮМАРТ<span>ЛЫК</span>(ЩЕДРОСТЬ)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Словарный запас:</p>
    <ul>
        <li>ЯЗ! - ПИШИ</li>
        <li>КЕМНЕ? - КОГО</li>
        <li>КАЙДА? - КУДА</li>
        <li>БЕРДӘМ - ЕДИНЫЙ</li>
        <li>ЮМАРТ - ЩЕДРЫЙ</li>
    </ul>
    <div class="text-center">
        <a href="/lesson_5" class="btn btn-warning" role="button">&lt Урок 5</a>
        <a href="/lesson_7" class="btn btn-success" role="button">Урок 7 &gt</a>
    </div>
