@page
@model learn_tatar.Pages.lesson_1Model
@{
    ViewData["Title"] = "Урок 1";
}
    <head>
        <link rel="shortcut icon" href="~/images/icon.png" type="image/x-icon">
        <style>
            span {
                background-color: yellowgreen;
            }
        </style>
        <script type="text/javascript">
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(55640836, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
           });
        </script>
    </head>
    <h1>Урок 1👨‍👩‍👧‍👦 </h1>
    <p>Местоимения татарского языка:</p>
    <ul>
        <li>МИН - Я</li>
        <li>СИН - ТЫ</li>
        <li>УЛ - ТЫ</li>
        <li>БЕЗ - МЫ</li>
        <li>СЕЗ - ВЫ</li>
        <li>АЛАР - ОНИ</li>
    </ul>
    <p>Спряжение глаголов, которые оканчиваются на гласный:</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">УЙЛА!(ДУМАЙ)</th>
                    <th scope="col">БАШЛА!(НАЧИНАЙ)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">МИН</th>
                    <td>УЙЛ<span>ЫЙМ</span></td>
                    <td>БАШЛ<span>ЫЙМ</span></td>
                </tr>
                <tr>
                    <th scope="row">СИН</th>
                    <td>УЙЛ<span>ЫЙСЫҢ</span></td>
                    <td>БАШЛ<span>ЫЙСЫҢ</span></td>
                </tr>
                <tr>
                    <th scope="row">УЛ</th>
                    <td>УЙЛ<span>ЫЙ</span></td>
                    <td>БАШЛ<span>ЫЙ</span></td>
                </tr>
                <tr>
                    <th scope="row">БЕЗ</th>
                    <td>УЙЛ<span>ЫЙБЫЗ</span></td>
                    <td>БАШЛ<span>ЫЙБЫЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">СЕЗ</th>
                    <td>УЙЛ<span>ЫЙСЫЗ</span></td>
                    <td>БАШЛ<span>ЫЙСЫЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">АЛАР</th>
                    <td>УЙЛ<span>ЫЙЛАР</span></td>
                    <td>БАШЛ<span>ЫЙЛАР</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Спряжение глаголов, которые оканчиваются на согласный:</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">БАС!(ВСТАНЬ)</th>
                    <th scope="col">САТ!(ПРОДАЙ)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">МИН</th>
                    <td>БАС<span>АМ</span></td>
                    <td>САТ<span>АМ</span></td>
                </tr>
                <tr>
                    <th scope="row">СИН</th>
                    <td>БАС<span>АСЫҢ</span></td>
                    <td>САТ<span>АСЫҢ</span></td>
                </tr>
                <tr>
                    <th scope="row">УЛ</th>
                    <td>БАС<span>А</span></td>
                    <td>САТ<span>А</span></td>
                </tr>
                <tr>
                    <th scope="row">БЕЗ</th>
                    <td>БАС<span>АБЫЗ</span></td>
                    <td>САТ<span>АБЫЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">СЕЗ</th>
                    <td>БАС<span>АСЫЗ</span></td>
                    <td>САТ<span>АСЫЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">АЛАР</th>
                    <td>БАС<span>АЛАР</span></td>
                    <td>САТ<span>АЛАР</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Словарный запас:</p>
    <ul>
        <li>ИСӘНМЕСЕЗ - ЗДРАВСТВУЙТЕ</li>
        <li>УЙЛА! - ДУМАЙ</li>
        <li>БАШЛА! - НАЧИНАЙ</li>
        <li>БАС! - ВСТАНЬ</li>
        <li>САТ! - ПРОДАЙ</li>
        <li>САУ БУЛЫГЫЗ - БУДЬТЕ ЗДОРОВЫ</li>
    </ul>
    <div class="text-center">
        <a href="/Index" class="btn btn-warning" role="button">&lt Старт</a>
        <a href="/lesson_2" class="btn btn-success" role="button">Урок 2 &gt</a>
    </div>

