@page
@model learn_tatar.Pages.lesson_5Model
@{
    ViewData["Title"] = "Урок 5";
}
    <head>
        <link rel="shortcut icon" href="~/images/icon.png" type="image/x-icon">
        <style>
            span {
                background-color: yellowgreen;
            }
        </style>
        <script type="text/javascript">
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(55640836, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
           });
        </script>
    </head>
    <h1>Урок 5👯‍♀️</h1>
    <p>Образование множественных чисел сущиствительных:</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ГЛАСНЫЕ</th>
                    <th scope="col">МНОЖЕСТВЕННАЯ ФОРМА</th>
                    <th scope="col">УКАЗАТЕЛЬНАЯ ФОРМА</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">ДӘФТӘР(ТЕТРАДЬ)</th>
                    <td>МЯГКИЕ</td>
                    <td>ДӘФТӘР<span>ЛӘР</span></td>
                    <td>ДӘФТӘРЛӘР<span>ЕБЕЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">АГАЧ(ДЕРЕВО)</th>
                    <td>ТВЁРДЫЕ</td>
                    <td>АГАЧ<span>ЛАР</span></td>
                    <td>АГАЧЛАР<span>ЫБЕЗ</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Образование множественных чисел существительных, которые оканчиваются на М, Н, Ң:</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ГЛАСНЫЕ</th>
                    <th scope="col">МНОЖЕСТВЕННАЯ ФОРМА</th>
                    <th scope="col">УКАЗАТЕЛЬНАЯ ФОРМА</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">ТӨН(НОЧЬ)</th>
                    <td>МЯГКИЕ</td>
                    <td>ТӨН<span>НӘР</span></td>
                    <td>ТӨННӘР<span>ЕБЕЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">САЛЫМ(НАЛОГ)</th>
                    <td>ТВЁРДЫЕ</td>
                    <td>САЛЫМ<span>НАР</span></td>
                    <td>САЛЫМНАР<span>ЫБЕЗ</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Словарный запас:</p>
    <ul>
        <li>ДӘФТӘР - ТЕТРАДЬ</li>
        <li>АГАЧ - ДЕРЕВО</li>
        <li>ТӨН - НОЧЬ</li>
        <li>САЛЫМ - НАЛОГ</li>
    </ul>
    <div class="text-center">
        <a href="/lesson_4" class="btn btn-warning" role="button">&lt Урок 4</a>
        <a href="/lesson_6" class="btn btn-success" role="button">Урок 6 &gt</a>
    </div>

