@page
@model learn_tatar.Pages.lesson_3Model
@{
    ViewData["Title"] = "Урок 3";
}
    <head>
        <link rel="shortcut icon" href="~/images/icon.png" type="image/x-icon">
        <style>
            span {
                background-color: yellowgreen;
            }
        </style>
        <script type="text/javascript">
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(55640836, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
           });
        </script>
    </head>
    <h1>Урок 3👨‍🦳 👩‍🦳</h1>
    <p>Вежливая форма обращения:</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">УКАЗАТЕЛЬНАЯ ФОРМА</th>
                    <th scope="col">ВЕЖЛИВАЯ/МНОЖЕСТВЕННАЯ ФОРМА</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">УТЫР!(САДИСЬ)</th>
                    <td>УТЫР<span>ЫГЫЗ</span>(САДИТЕСЬ)</td>
                </tr>
                <tr>
                    <th scope="row">АША!(ЕШЬ)</th>
                    <td>АША<span>ГЫЗ</span>(ЕШЬТЕ)</td>
                </tr>
                <tr>
                    <th scope="row">ӘЗЕРЛӘ!(ГОТОВЬ)</th>
                    <td>ӘЗЕРЛӘ<span>ГЕЗ</span>(ГОТОВЬТЕ)</td>
                </tr>
                <tr>
                    <th scope="row">АЧ!(ОТКРОЙ)</th>
                    <td>АЧ<span>ЫГЫЗ</span>(ОТКРОЙТЕ)</td>
                </tr>
                <tr>
                    <th scope="row">СӨЙЛӘ!(ГОВОРИ)</th>
                    <td>СӨЙЛӘ<span>ЕГЕЗ</span>(ГОВОРИТЕ)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Образование прилагательных:</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">СУЩЕСТВИТЕЛЬНОЕ</th>
                    <th scope="col">ПРИЛАГАТЕЛЬНОЕ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">БӘХЕТ(СЧАСТЬЕ)</th>
                    <td>БӘХЕТ<span>ЛЕ</span>(СЧАСТЛИВЫЙ)</td>
                </tr>
                <tr>
                    <th scope="row">ШАТЛЫК(РАДОСТЬ)</th>
                    <td>ШАТЛЫК<span>ЛЫ</span>(РАДОСТНЫЙ)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Словарный запас:</p>
    <ul>
        <li>УТЫР! - САДИСЬ</li>
        <li>АША! - ЕШЬ</li>
        <li>ӘЗЕРЛӘ! - ГОТОВЬ</li>
        <li>АЧ! - ОТКРОЙ</li>
        <li>СӨЙЛӘ! - ГОВОРИ</li>
        <li>БӘХЕТ - СЧАСТЬЕ</li>
        <li>ШАТЛЫК - РАДОСТЬ</li>
    </ul>
    <div class="text-center">
        <a href="/lesson_2" class="btn btn-warning" role="button">&lt Урок 2</a>
        <a href="/lesson_4" class="btn btn-success" role="button">Урок 4 &gt</a>
    </div>

