@page
@model learn_tatar.Pages.lesson_2Model
@{
    ViewData["Title"] = "Урок 2";
}
    <head>
        <link rel="shortcut icon" href="~/images/icon.png" type="image/x-icon">
        <style>
            span {
                background-color: yellowgreen;
            }
        </style>
        <script type="text/javascript">
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(55640836, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
           });
        </script>
    </head>
    <h1>Урок 2😘</h1>
    <p>Глагол всегда ставится в конец предложения:</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">КОГО?</th>
                    <th scope="col">ТАНЫШ!(ЗНАКОМЬСЯ)</th>
                    <th scope="col">ВОПРОС</th>
                    <th scope="col">ОТРИЦАНИЕ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">МИН</th>
                    <td>МИН<span>Е</span></td>
                    <td>ТАНЫШ<span>АМ</span></td>
                    <td>ТАНЫШАМ<span>МЫ?</span></td>
                    <td>ТАНЫШ<span>МЫЙМ</span></td>
                </tr>
                <tr>
                    <th scope="row">СИН</th>
                    <td>СИН<span>Е</span></td>
                    <td>ТАНЫШ<span>АСЫҢ</span></td>
                    <td>ТАНЫШАСЫҢ<span>МЫ?</span></td>
                    <td>ТАНЫШ<span>МЫЙСЫҢ</span></td>
                </tr>
                <tr>
                    <th scope="row">УЛ</th>
                    <td><span>АНЫ</span></td>
                    <td>ТАНЫШ<span>А</span></td>
                    <td>ТАНЫША<span>МЫ?</span></td>
                    <td>ТАНЫШ<span>МЫЙ</span></td>
                </tr>
                <tr>
                    <th scope="row">БЕЗ</th>
                    <td>БЕЗ<span>НЕ</span></td>
                    <td>ТАНЫШ<span>АБЫЗ</span></td>
                    <td>ТАНЫШАБЫЗ<span>МЫ?</span></td>
                    <td>ТАНЫШ<span>МЫЙБЫЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">СЕЗ</th>
                    <td>СЕЗ<span>НЕ</span></td>
                    <td>ТАНЫШ<span>АСЫЗ</span></td>
                    <td>ТАНЫШАСЫЗ<span>МЫ?</span></td>
                    <td>ТАНЫШ<span>МЫЙСЫЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">АЛАР</th>
                    <td>АЛАР<span>НЫ</span></td>
                    <td>ТАНЫШ<span>АЛАР</span></td>
                    <td>ТАНЫШАЛАР<span>МЫ?</span></td>
                    <td>ТАНЫШ<span>МЫЙЛАР</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Глаголы, которые оканчиваются на мягкие звуки:</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">КОГО?</th>
                    <th scope="col">ЭЗЛӘ!(ИЩИ)</th>
                    <th scope="col">ВОПРОС</th>
                    <th scope="col">ОТРИЦАНИЕ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">МИН</th>
                    <td>МИН<span>Е</span></td>
                    <td>ЭЗ<span>ЛИМ</span></td>
                    <td>ЭЗЛИМ<span>МЕ?</span></td>
                    <td>ЭЗ<span>ЛӘМИМ</span></td>
                </tr>
                <tr>
                    <th scope="row">СИН</th>
                    <td>СИН<span>Е</span></td>
                    <td>ЭЗ<span>ЛИСЕҢ</span></td>
                    <td>ЭЗЛИСЕҢ<span>МЕ?</span></td>
                    <td>ЭЗ<span>ЛӘМИМ</span></td>
                </tr>
                <tr>
                    <th scope="row">УЛ</th>
                    <td><span>АНЫ</span></td>
                    <td>ЭЗ<span>ЛИ</span></td>
                    <td>ЭЗЛИ<span>МЕ?</span></td>
                    <td>ЭЗ<span>ЛӘМИ</span></td>
                </tr>
                <tr>
                    <th scope="row">БЕЗ</th>
                    <td>БЕЗ<span>НЕ</span></td>
                    <td>ЭЗ<span>ЛИБЕЗ</span></td>
                    <td>ЭЗЛИБЕЗ<span>МЕ?</span></td>
                    <td>ЭЗ<span>ЛӘМИБЕЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">СЕЗ</th>
                    <td>СЕЗ<span>НЕ</span></td>
                    <td>ЭЗ<span>ЛИСЕЗ</span></td>
                    <td>ЭЗЛИСЕЗ<span>МЕ?</span></td>
                    <td>ЭЗ<span>ЛӘМИСЕЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">АЛАР</th>
                    <td>АЛАР<span>НЫ</span></td>
                    <td>ЭЗ<span>ЛИЛӘР</span></td>
                    <td>ЭЗЛИЛӘР<span>МЕ?</span></td>
                    <td>ЭЗ<span>ЛӘМИЛӘР</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">КОГО?</th>
                    <th scope="col">КИТ!(УЙДИ)</th>
                    <th scope="col">ВОПРОС</th>
                    <th scope="col">ОТРИЦАНИЕ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">МИН</th>
                    <td>МИН<span>Е</span></td>
                    <td>КИТ<span>ӘМ</span></td>
                    <td>КИТӘМ<span>МЕ?</span></td>
                    <td>КИТ<span>МИМ</span></td>
                </tr>
                <tr>
                    <th scope="row">СИН</th>
                    <td>СИН<span>Е</span></td>
                    <td>КИТ<span>ӘСЕҢ</span></td>
                    <td>КИТӘСЕҢ<span>МЕ?</span></td>
                    <td>КИТ<span>МИСЕҢ</span></td>
                </tr>
                <tr>
                    <th scope="row">УЛ</th>
                    <td><span>АНЫ</span></td>
                    <td>КИТ<span>Ә</span></td>
                    <td>КИТӘ<span>МЕ?</span></td>
                    <td>КИТ<span>МИ</span></td>
                </tr>
                <tr>
                    <th scope="row">БЕЗ</th>
                    <td>БЕЗ<span>НЕ</span></td>
                    <td>КИТ<span>ӘБЕЗ</span></td>
                    <td>КИТӘБЕЗ<span>МЕ?</span></td>
                    <td>КИТ<span>МИБЕЗ</span></td>
                </tr>
                <tr>
                    <th scope="row">СЕЗ</th>
                    <td>СЕЗ<span>НЕ</span></td>
                    <td>КИТ<span>ӘСЕЗ</span></td>
                    <td>КИТӘСЕЗ<span>МЕ?</span></td>
                    <td>КИТ<span>МИЛӘР</span></td>
                </tr>
                <tr>
                    <th scope="row">АЛАР</th>
                    <td>АЛАР<span>НЫ</span></td>
                    <td>КИТ<span>ӘЛӘР</span></td>
                    <td>КИТӘЛӘР<span>МЕ?</span></td>
                    <td>КИТ<span>МИЛӘР</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Словарный запас:</p>
    <ul>
        <li>ТАНЫШ! - ЗНАКОМЬСЯ</li>
        <li>ЭЗЛӘ! - ИЩИ</li>
        <li>КИТ! - УЙДИ</li>
    </ul>
    <div class="text-center">
        <a href="/lesson_1" class="btn btn-warning" role="button">&lt Урок 1</a>
        <a href="/lesson_3" class="btn btn-success" role="button">Урок 3 &gt</a>
    </div>

