@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика сайта";
}
<h1>@ViewData["Title"]</h1>

<h2>🤐</h2>
<p>Разработчик данного ресурса не претендует на авторство и не использует представленные материалы в коммерческих или иных целях.</p>
